.body{
  background-color: #808080;
  text-align: center;
}

.text{
  text-align: center;
  background-color: #808080;
  border: 2px solid black;
  margin-left: 100px;
  margin-right: 100px;
}

.map{
  background-color: #3B444B;
  color: 	#9966CC;
}
